In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [27]:
raw_df = pd.read_parquet('yellow_tripdata_2023-01.parquet', engine='pyarrow')

df = raw_df.head(2000)

In [28]:
df.shape

(2000, 19)

In [29]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [30]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

/tmp/ipykernel_97350/1874911345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_97350/1874911345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [32]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [33]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [34]:
from pyarrow.parquet import ParquetFile
import pyarrow as pa 
from time import time

pf = ParquetFile('yellow_tripdata_2023-01.parquet')

In [42]:
def write_data_to_postgres(pf, table_name, batch_size):
    for chunk in pf.iter_batches(batch_size=batch_size):
        start = time()
        if not isinstance(chunk, pd.DataFrame):
            chunk = chunk.to_pandas()
        chunk.tpep_pickup_datetime = pd.to_datetime(chunk.tpep_pickup_datetime)
        chunk.tpep_dropoff_datetime = pd.to_datetime(chunk.tpep_dropoff_datetime)
        chunk.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        print(f'Chunk written in {(time()-start):.3f} seconds')
    print('All data written to Postgres!')

write_data_to_postgres(pf, 'yellow_taxi_data', 100000)

Chunk written in 6.609 seconds
Chunk written in 5.868 seconds
Chunk written in 5.881 seconds
Chunk written in 7.011 seconds
Chunk written in 6.832 seconds
Chunk written in 7.115 seconds
Chunk written in 7.247 seconds
Chunk written in 7.547 seconds
Chunk written in 7.516 seconds
Chunk written in 7.482 seconds
Chunk written in 7.462 seconds
Chunk written in 7.348 seconds
Chunk written in 8.060 seconds
Chunk written in 7.576 seconds
Chunk written in 7.545 seconds
Chunk written in 7.181 seconds
Chunk written in 8.728 seconds
Chunk written in 8.232 seconds
Chunk written in 7.721 seconds
Chunk written in 7.532 seconds
Chunk written in 7.410 seconds
Chunk written in 7.585 seconds
Chunk written in 7.644 seconds
Chunk written in 7.365 seconds
Chunk written in 7.711 seconds
Chunk written in 7.777 seconds
Chunk written in 7.786 seconds
Chunk written in 7.562 seconds
Chunk written in 7.092 seconds
Chunk written in 7.211 seconds
Chunk written in 4.129 seconds
All data written to Postgres!

In [43]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2024-02-16 14:22:05--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.200, 54.230.209.72, 54.230.209.140, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.01s

2024-02-16 14:22:05 (885 KB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [2]:
import pandas as pd

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265